.preview {
  width: 100%;
  height: auto;
  /* border: 1px solid gray; */
  /* border-radius: 3px; */
}

.switchbtn {
  margin-left: 500px;
}

.switchbtn .txt {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 14px;
}

.cpreview {
  margin: 10px;
  border: 1px solid gray;
  border-radius: 3px;
}

/* Dark Theme styles */

.switchbtn .darktxt {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  color: azure;
  font-size: 14px;
}
.darkpreview {
  width: 100%;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: rgb(32, 33, 36);
}
